<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intervoid.parent_app_ver2"
    tools:ignore="WrongManifestParent">

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo0"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo0_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parent_APP_Ver2">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuuHbZNy58KFKWK7n6rmD_OsjVpNI5TcU" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name=".Terms_of_service_Activity"/>
        <activity android:name=".Append_child_Activity"/>
        <activity android:name=".History_Activity"/>
        <activity android:name=".Detail_Activity"/>
        <activity android:name=".Account_management_Activity"/>
        <activity android:name=".Alarm_Activity" />
        <activity android:name=".Child_Profile_Activity" />
        <activity android:name=".Getchild_Activity" />
        <activity android:name=".Main_Activity" />
        <activity android:name=".Setting_Activity" />
        <activity android:name=".Login_Activity" />

        <activity
            android:name=".GoogleMap_Dialog"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity android:name=".GoogleMap_ShowPath"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".Splash_Activity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>